<!DOCTYPE html>
<html lang="es">

<head>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.4.3/css/mdb.min.css" integrity="sha256-7ojAK4IBCGMZam/HxRwhDegjN3WRHCRlShaeZassz2g=" crossorigin="anonymous" />
    <link rel="stylesheet" href="../css/style.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta charset="UTF-8">
    <title>Artesanía</title>
</head>

<body>
    <header>
        <nav class="navbar fixed-top navbar-toggleable-md navbar-dark scrolling-navbar primary-color-dark rgba-green-strong">
            <div class="container">
                <a class="navbar-brand wow fadeIn" href="#home">
	                      <img src="/static/assets/icons/isotype-small.png" class="mx-auto d-inline image-fluid nav-img isotype-nav">
                        <strong class="comfortaa text-shadow">Artesanías</strong>
                    </a>
            </div>
        </nav>
    </header>
    <main class="container" id="piezas">
        <h1 class="text-center"></h1>
        <section id="mispiezas">
            <h3> Mis piezas</h3>
             <div class="row features-big pb-5">
                <!-- Columna 1 -->
                <div class="col-md-4 mb-1 col-4 wow fadeInRightBig">
                  <a class="pluss" href="#agregar"><i class="fa fa-plus fa-5x" aria-hidden="true"></i></a>
                  <p>Agrega una nueva pieza</p>
                </div>
                <!-- /Columna 1 -->

                <!-- Columna 2 -->
                <div class="col-md-4 mb-1 col-4 wow fadeInRightBig" data-wow-delay="0.4s">
                    <img src="/static/assets/piezas/girasol-verde.jpg" class="img-fluid wow fadeInRightBig" data-wow-delay="1.6s">
                    <h4 class="feature-title py-2">Collar "Girasol Verde"</h4>
                </div>
                <!-- /Columna 2 -->

                <!-- Columna 3 -->
                <div class="col-md-4 mb-1 col-4 wow fadeInRightBig" data-wow-delay="0.8s">
                    <img src="/static/assets/piezas/flor-multicolor.jpg" class="img-fluid wow fadeInRightBig" data-wow-delay="2s">
                    <h4 class="feature-title">Collar "Flor Multicolor"</h4>
                </div>
                <!-- /Columna 3 -->
            </div>
        </section>
        <section id="agregar">
            <h3>Agregar nuevas piezas</h3>
            <div>
                <form action="">
                    <div class="form-group">
                        <label for="nombrePieza">Nombre de pieza</label>
                        <input type="text" class="nombrePieza" id="nombre">
                    </div>
                    <div class="form-group">
                        <label for="descripcionPieza">Descripción de la piezas</label>
                        <textarea type="text" class="descripcionPieza" id="nombre"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="precioPieza">Precio piezas</label>
                        <input type="text" class="precioPieza" id="nombre">
                    </div>
                    <div>
                        <select class="custom-select">
                          <option selected>Elige el tipo de artesanía</option>
                          <option value="1">Textil</option>
                          <option value="2">Ceramica</option>
                          <option value="3">Joyería</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlFile1">Subir foto</label>
                        <input type="file" class="form-control-file" id="exampleFormControlFile1">
                    </div>
                    <a href="#" data-offset="100" class="btn btn-lg btn-success btn-green main-shadow wow fadeIn">Enviar</a>
                </form>
            </div>
        </section>

    </main>
    <script src="/static/jquery/dist/jquery.min.js"></script>
    <script src="/static/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="https://www.gstatic.com/firebasejs/4.6.2/firebase.js"></script>
</body>

</html>
